<div class="fondo">
    <a class="button" [routerLink]="['/home']">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"
              ></path>
            </svg>
          </span>
        </div>
      </a>
    <div class="container py-2">
        <h1>Mis Turnos</h1>
        <hr>
        <div class="row justify-content-start">
            <div class="col-2 mt-2">
                Busqueda:
            </div>
            <div class="col-2">
                <input type="text" class="form-control" (input)="getFiltro($event)">
            </div>
        </div>
        <div class="row mt-5" *ngIf="turnosMostrar.length > 0">
            <div class="col-md-3 bg-dark text-light text-left p-2 mb-3 mx-2"
                *ngFor="let turno of turnosMostrar"
                [appEstadoTurno]="[turno.estado === 'cancelado', turno.estado === 'aceptado', turno.estado === 'rechazado', turno.estado === 'finalizado']">
                <h5>Especialista: {{getEspecialista(turno.especialistaEmail)}}</h5>
                <p class="mb-1">Especialidad: {{turno.especialidad}}</p>
                <p class="mb-1">Fecha: {{turno.fecha}}</p>
                <p class="mb-1">Hora: {{turno.horario.hora}}</p>
                <p class="mb-1">Nro. Consultorio: {{turno.horario.nroConsultorio}}</p>
                <p class="mb-1 text-capitalize">Estado: {{turno.estado}}</p>
                <hr>
                <div class="row justify-content-start">
                    <div class="col-6 mb-2" *ngIf="turno.estado == 'aceptado'" (click)="cancelar(turno)">
                        <button class="btn btn-sm btn-outline-danger w-100">Cancelar</button>
                    </div>
                    <div class="col-6 mb-2" *ngIf="getResenia(turno) !== ''">
                        <button class="btn btn-sm btn-outline-secondary w-100" (click)="verResenia(turno)">Ver Reseña</button>
                    </div>
                    <div class="col-6 mb-2"
                        *ngIf="turno.estado == 'finalizado' && getResenia(turno) !== '' && turno.encuesta.length == 0"
                        (click)="completarEncuesta(turno)">
                        <button class="btn btn-sm btn-outline-info w-100">Completar Encuesta</button>
                    </div>
                    <div class="col-6 mb-2" *ngIf="turno.estado == 'finalizado' && turno.calificacion == 0">
                        <button class="btn btn-sm btn-outline-warning w-100" (click)="calificar(turno)">Calificar Atencion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
