<div class="table-container">
    <table class="table table-lgiht table-striped" [@sliderInFromBottom]>
        <thead>
            <tr>
                <th scope="col">DNI</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Obra Social</th>    
            </tr>
        </thead>
        <tbody *ngFor="let pac of pacientes">
            <tr>
                <th>{{pac.dni}}</th>
                <td>{{pac.nombre}}</td>
                <td>{{pac.apellido}}</td>
                <td>{{pac.obraSocial}}</td>
                <td><button type="button" class="btn btn-sm btn-outline-primary" (click)="getHistorial(pac)">Ver Historiales</button></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" *ngIf="turnosHist.length > 0">
    <div class="col-md-12 col-xl-12 bg-dark rounded-3 mt-5">
      <h3 class="text-white mt-2 text-center">Historial Clinico</h3>
      <div class="d-flex justify-content-between mt-3">
        <button type="button" class="btn btn-sm btn-outline-danger">Cerrar</button>
      </div>
      <div class="px-5" *ngIf="turnosHist.length > 0">
        <div class="row justify-content-evenly text-center align-items-center text-dark bg-white rounded-3 mt-5 mb-5 pb-3" *ngFor="let histoCli of turnosHist">
          <div class="col-12 mt-3">
            <h5>Paciente: {{getPaciente(histoCli.pacienteEmail)}}</h5>
            <h5>Turno: {{histoCli.fecha}} {{histoCli.horario.hora}}</h5>
            <hr>
          </div>
          <div class="col-12">
            <h5>Altura: {{histoCli.historial?.altura}}</h5>
          </div>
          <div class="col-12">
            <h5>Peso: {{histoCli.historial?.peso}}</h5>
          </div>
          <div class="col-12">
            <h5>Temperatura: {{histoCli.historial?.temperatura}}</h5>
          </div>
          <div class="col-12">
            <h5>Presion: {{histoCli.historial?.presion}}</h5>
          </div>
          <div class="col-12" *ngFor="let dato of histoCli.historial?.datos; let i = index">
            <h5>{{dato['clave']}}: {{dato['valor']}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="mostrarHis === false">
    <div class="mt-5 bg-primary text-light rounded-3 py-4 text-center">
      <h3>El paciente no poseé historias clinicas.</h3>
    </div>
  </div>

