<main>
  <h3>Turnos por Especialidad</h3>
  <ngx-charts-pie-chart
    id="grafico5"
    [view]="view"
    [scheme]="colorScheme"
    [results]="informacion"
    [gradient]="gradient"
    [legend]="showLegend"
    [legendTitle]="titulo"
    [maxLabelLength]="letras"
    [legendPosition]="legendPosition"
    [labels]="showLabels"
    [doughnut]="isDoughnut">
  </ngx-charts-pie-chart>

  <div class="d-flex justify-content-center mt-2">
    <button type="button" class="btn btn-danger me-2" (click)="descargarPDF()">Descargar Gráfico PDF - Turnos por especialidad</button>
    <button type="button" class="btn btn-success ms-2" (click)="descargarExcel()">Descargar Datos Excel - Turnos por especialidad</button>
  </div>
</main>
