<button class="btn btn btn-sm btn-outline-secondary mb-3 mt-5 mx-5" (click)="reset()">Atras</button>
<div class="container py-4">
    <div *ngIf="especialidadSelect === ''">
        <h1>Especialidades</h1>
        <hr>
        <div class="row">
            <div class="col-2 bg-secondary text-light text-center circular-div mx-2 mb-5  align-items-center"
                *ngFor="let esp of especialidades" (click)="setEspecialidad(esp.nombre)" data-toggle="tooltip"
                data-placement="bottom" title="{{esp.nombre}}">
                <img src="{{esp.fotoPerfil? esp.fotoPerfil : 'assets/espDef.png'}}" class="circular-image" alt="logo{{esp.nombre}}">
            </div>
            <hr>
        </div>
    </div>


    <div *ngIf="especialidadSelect !== '' && especialistaSelect === null">
        <h1 class="text-capitalize">Especialistas de {{especialidadSelect}}</h1>
        <div class="row">
            <div class="col-12 col-xl-3 text-dark text-center mt-5 mb-5" (click)="setEspecialista(esp)"
                *ngFor="let esp of especialistasDisponibles">
                <div class="row justify-content-evenly mt-2">
                    <div class="col-12 bg-dark circular-div border border-3 border-secondary">
                        <img src="{{esp.fotoPerfil}}" class="imgRedonda" alt="imgDoc">
                    </div>
                </div>
                <h4 class="pt-3 text-capitalize">Dr. {{esp.nombre}} {{esp.apellido}}</h4>
            </div>
        </div>
        <div *ngIf="especialistasDisponibles.length == 0">
            <div class="bg-primary text-dark rounded-3 py-4 text-center">
                <h3>No hay especialistas disponibles.</h3>
            </div>
        </div>
    </div>


    <div class="row justify-content-evenly" *ngIf="turnosDisponibles !== null">
        <div class="row justify-content-evenly mb-5">
            <div class="col-5 bg-dark text-light border border-3 border-secondary">
                <div class="row justify-content-evenly mt-2">
                    <div class="col-6">
                        <h4 class="pt-3 text-capitalize mt-5">Dr. {{especialistaSelect!.nombre}}
                            {{especialistaSelect!.apellido}}</h4>
                    </div>
                    <div class="col-6 bg-dark cirdiv border border-3 border-secondary">
                        <img src="{{especialistaSelect!.fotoPerfil}}" class="imgPerf" alt="imgDoc">
                    </div>
                </div>
                <hr>
                <h5 class="mx-2 ">Especialidades:</h5>
                <div *ngFor="let especialidad of especialistaSelect!.especialidades" class="mx-5 text-center">
                    <h6>{{especialidad}}</h6>
                </div>
            </div>
        </div>
        <div *ngIf="diaSelect == null">
            <div class="row justify-content-between">
                <ng-container *ngFor="let elemento of turnosDisponibles; let i = index">
                    <div class="col-3 col-xl-3 py-1" *ngIf="getElementArray(turnosDisponibles, i).length > 0">
                        <div class="bg-primary text-dark rounded-3 text-center py-5"
                            (click)="getFechaTurno(elemento, i,elemento.dia)">
                            <h3 class="pt-3 text-capitalize">{{elemento.dia}} - {{ getFecha(turnosDisponibles, i) }}
                            </h3>
                        </div>

                    </div>
                </ng-container>
            </div>

        </div>
        <div *ngIf="checkEmptyArray(turnosDisponibles)">
            <div class="bg-primary text-dark rounded-3 py-4 text-center">
                <h3>No hay horarios disponibles.</h3>
            </div>
        </div>
        <div class="container py-2 bg-dark" *ngIf="diaSelect != null">
            <div class="col-12 bg-primary text-dark rounded-3 text-center py-2">

                <h3 class="pt-3 pb-3 text-capitalize">{{diaNombreSelect}} - {{ getFecha(turnosDisponibles,
                    indexDiaSelect) }}
                </h3>
            </div>
            <div class="row justify-content-evenly mt-2 mb-2"
                *ngFor="let horario of getElementArray(turnosDisponibles, indexDiaSelect)">
                <button (click)="generarTurno(getKeyByIndex(turnosDisponibles, indexDiaSelect),horario)"
                    class="btn col-8 mb-1 fw-bold" ngClass="{{horario.disponible? 'btn-outline-primary'
                                :'btn-outline-secondary disabled'}}">
                    {{horario.horario.hora | horaFormat}}
                </button>

            </div>
        </div>
    </div>
</div>
