<h2>Historial Clinico</h2>
<hr>

<div class="container py-4 bg-dark rounded-3 text-white">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

        <!-- altura -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Altura</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="altura" placeholder="Altura de la persona en centimetros">
                <span *ngIf="isValidField('altura')" class="form-text text-danger">
                    {{getFieldError('altura')}}
                </span>
            </div>
        </div>
        <!-- peso -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Peso</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="peso" placeholder="Peso de la persona en kilogramos">
                <span *ngIf="isValidField('peso')" class="form-text text-danger">
                    {{getFieldError('peso')}}
                </span>
            </div>
        </div>
        <!-- Temperatura -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Temperatura</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="temperatura" placeholder="Temperatura de la persona en C°">
                <span *ngIf="isValidField('temperatura')" class="form-text text-danger">
                    {{getFieldError('temperatura')}}
                </span>
            </div>
        </div>
        <!-- Presion -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Presión</label>
            <div class="col-sm-9">
                <input class="form-control" formControlName="presion" placeholder="Presion de la persona en mmHg">
                <span *ngIf="isValidField('presion')" class="form-text text-danger">
                    {{getFieldError('presion')}}
                </span>
            </div>
        </div>

        <!-- Agregar Dato -->
        <div class="mb-3 row" *ngIf="datos.length < 3">
            <label class="col-sm-3 col-form-label">Agregar</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input class="form-control" placeholder="Agregar clave" formControlName="clave">
                    <input class="form-control" placeholder="Agregar valor" formControlName="valor">
                    <button class="btn btn-outline-primary" type="button" (click)="onAddDatos()">
                        Agregar Dato
                    </button>
                </div>
            </div>
        </div>

        <div class="mb-3 row" *ngIf="datos.controls.length != 0">
            <label class="col-sm-3 col-form-label">Datos Extra</label>
            <div class="col-sm-9" formArrayName="datos">
                <div class="mb-1" *ngFor="let dato of datos.controls; let i = index" [formGroupName]="i">
                    <div class="input-group">
                        <input class="form-control" formControlName="clave" readonly>
                        <input class="form-control" formControlName="valor" readonly>
                        <button class="btn btn-outline-danger" type="button" (click)="onDeleteDatos(i)">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-evenly">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary float-end">
                    Guardar
                </button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-danger float-end" (click)="cancel()">
                    Cancelar
                </button>
            </div>
        </div>
    </form>
</div>
